@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #EBEDEF  /* Cambia #ffffff por el color de fondo que desees */
}
html {
  scroll-behavior: smooth;
}

.swiper-scrollbar-drag {
  background: #727c73;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  border-radius: 0.5rem;
}
